<p>form2 works!</p>


<p>
    <input type="text" id="fnmae" name="fnmae" forrmControlName="fnmae" placeholder="First Name">

</p>
<p>
    <input type="text" id="lastname" name="lastname" forrmControlName="lastname" placeholder="Last Name">

</p>
<p>
    <input type="text" id="email" name="email" forrmControlName="email" placeholder="Email">

</p>

<p>
    <label for="isMarried">Married</label>
    <input type="checkbox" id="ismarried" name="ismarried" forrmControlName="ismarried">

</p>

<p>
    <label for="country">select Country</label>
    <select id="country" name="country" formControlName="country">
        <option value="IND">India</option>
        <option value="UK">United Kingdam</option>
        <option value="US">US</option>
    </select>
</p>
<P>
    <label for="gender">Gender</label>
    <input type="radio" value="Male" id="gender" name="gender" formControlName="gender">Male
    <input type="radio" value="Female" id="gender" name="gender" formControlName="gender">Female

</P>
<p>
 <input type="submit" value="Click here">
</p>