<p>another works!</p>

<ng-template #AA>
<h1>hi iam inside AA</h1>
</ng-template>

<!-- <div *ngIf="flag; then BB;else CC">

    <h1>this is not to be shown</h1>
</div> -->

<li *ngFor="let course of list">
    {{course}}
</li>

<li *ngFor="let p of people">
    {{p.name}} : {{p.age}}
</li>

<ul *ngFor="let p of people">
<li *ngIf="p.age>25">
    {{p.name}} : {{p.age}}
</li>
</ul>

<ul [ngSwitch]="logInName">
    <li *ngSwitchCase="'admin1'">
       user name is {{logInName}}
    </li>
    <li *ngSwitchCase="'user12'">
        user name is {{logInName}}
     </li>
    <li *ngSwitchDefault>
        <h1>inside switch  default</h1>
     </li>
</ul>

<ul *ngFor="let person of people" [ngSwitch]="person.age">

    <li *ngSwitchCase="60"> Age is 60</li>
    <li *ngSwitchCase="50"> Age is 50</li>
    <li *ngSwitchCase="30"> Age is 30</li>

</ul>

<li *ngFor="let u of user">
    {{u.userId}} 
    {{u.userName |uppercase}}
</li>

Indian currency example :{{2.34554|currency:'INR'}} <br>
Canadia currency example :{{currenecyValue|currency:'CAD'}} <br>
Canadia currency example :{{24.5666|currency:'CAD':'symbol-narrow'}} <br>

US Dollar  example :{{80.12|currency:'USD'}} <br>

********************
****************** <br>
{{todaydate}} <br>

Date  pipe Ex1: {{todaydate|date :'short'}} <br>


Date  pipe Ex2 : {{todaydate|date :'shortDate'}} <br>

Date  pipe Ex3 : {{todaydate|date :'fullDate'}} <br>

Date  pipe Ex4 : {{todaydate|date :'dd/MM/yyyy'}} <br>

------------- Number pipes <br>
Number pipe ex1 : {{3.454357777|number:'2.2-4'}}  <br>
Number pipe ex2 : {{3.45|number:'3.2-5'}}  <br>
Number pipe ex3 : {{3.45|number:'3.1-1'}}  <br>
Number pipe ex4 : {{3.45|number:'3.2-2'}}  <br>

-------Percent pipes <br>
Percent pipe ex1 :  {{.25|percent}} <br>
Percent pipe ex2 :  {{ .266688885|percent}} <br>
Percent pipe ex3 :  {{ .266688885|percent:'2.2-3'}} <br>







<app-student ></app-student>

